body, div, p {
  font-family: Verdana, sans-serif;
}

body {
}

.clear {
  clear: both;
}

#header {
  padding: 30px;
    background-color: black;
    font-weight: bold;
    color: white;
    border-bottom: 6px solid #C00;

    h1 {
      font-size: 30pt;
    }
}

#page {
  padding: 30px;

  h2 {
    font-size: 17pt;
    font-weight: bold;
    color: #C00;
    margin-bottom: 20px;
  }

}

.order {
  -moz-border-radius: 10px;
  -moz-box-shadow: 3px 3px 20px black;
  background-color: black; /*#512729;*/
  color: white;
  padding: 15px;
  margin: 0 30px 30px 0;
  float: left;

  h2 {
    font-size: 21px;
    margin-bottom: 10px;
  }

  .eatery {
    .info {
      font-size: 10pt;
      height: 50px;
    }
  }

  ol {
    li {
      margin-left: 20px;
      line-height: 25px;
    }
  }

  .total {
    margin-top: 15px;
  }

  .new-item {
    margin-top: 20px;

    .meal {
      width: 200px;
    }
    .cost {
      width: 40px;
    }
    .owner {
      width: 60px;
    }
  }
}

input.error {
  border: 1px solid red;
}