<div class="new-eatery">
  <h2>Add delivery place</h2>
  <form action="/places" method="POST">
    <p>
      <label for="">Name:</label>
      <input type="text" name="eatery[name]" class="name <%= 'error' if @eatery.errors.on(:name) %>" value="<%= @eatery.name %>" />
    </p>
    <p>
      <label for="">Phone:</label>
      <input type="text" name="eatery[phone]" class="phone" value="<%= @eatery.phone %>" />
    </p>
    <p>
      <label for="">Website:</label>
      <input type="text" name="eatery[website]" class="website" value="<%= @eatery.website %>" />
    </p>
    <p class="buttons">
      <input type="submit" value="Add!" />
    </p>
  </form>
</div>
