<div class="new-order">
  <h2>New order</h2>
  <form action="/orders" method="POST">
    Delivery from
    <select name="order[eatery_id]">
      <% @eateries.each do |e| %>
        <option value="<%= e.id %>"><%= e.name %></option>
      <% end %>
    </select>
    <input type="submit" value="Create!" />
  </form>
</div>
